.sidebar {
  border: "1px solid black";
  /* width: 390px; */
  /* overflow-y: auto;
  overflow-x: hidden; */
  /* max-height: 100vh; */
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  align-items: flex-start;
  
}

.sidebarlinks{
    margin-bottom: 100px;
    margin-top: 100px;
}
